.paral {
  height: 80vh;
  background-image: url("../assets/Background.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: center;
}

body {
  overflow: hidden;
}
